* {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
  padding: 1rem;
  margin: 1rem;
}

#nav-bar-btn {
  border: none;
}

#nav-bar-p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  color: #28352f;
}

.heading-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  height: 750px;
  background-image: url('images/header-illsutration-mobile@2x.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#main-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

#main-heading strong {
  color: #36b37f;
}

.heading-section p {
  color: #172b4d;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

#icons-div {
  display: flex;
  list-style: none;
}

#icons-div img {
  padding: 1rem;
}
