/*
Feature 1 Styles Section
*/
* {
  margin: 0;
  padding: 0;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  font-family: 'Bebas Neue', cursive;
}

.header-b {
  background-image:
    linear-gradient(
      180deg,
      #004d52,
      #63c1bd
    );
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

/*
Items with Display Flex
*/
.display-flex {
  display: flex;
}

.nav-list {
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-align: center;
  padding: 8px;
}

#nav-bar-btn {
  border: none;
  cursor: pointer;
}

/*
Hamburguer Icon Classes
*/
.bar {
  display: block;
  width: 32px;
  height: 4px;
  margin: 5px auto;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*
X button over image -placed here due to linters
*/
#img-container {
  position: relative;
}

#img-container #img-btn {
  position: absolute;
  top: 15%;
  left: 93%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 12px;
}

#img-btn .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

#img-btn .bar:nth-child(2) {
  opacity: 0;
}

#img-btn .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

#nav-bar-btn.active .bar:nth-child(2) {
  opacity: 0;
}

#nav-bar-btn.active .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
  background-color: #67798e;
}

#nav-bar-btn.active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
  background-color: #67798e;
}

#img-container #img-btn .bar {
  background-color: #67798e;
}

/*
Mobile Menu toggle styles
*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 90%;
  margin-top: 50px;
  background-color: #93aeb5;
  transition: 0.3s;
  border-radius: 48px;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.mobile-menu.active {
  left: 0;
}

.mobile-menu-links {
  text-decoration: none;
  list-style: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.mobile-menu-links .mobile-link {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: block;
  margin: 20px 20px;
  color: #172b4d;
}

/* Is Hidden */

.is-hidden {
  visibility: hidden;
}

.nav-bar-a {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 28px;
  color: #fff;
  padding: 10px 12px;
  text-decoration: none;
}

#first-container {
  background-image: url('../images/portafolio-mb-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.heading-section {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 4rem 1.5rem;
  width: fit-content;
  height: 70vh;
  margin: 0 auto;
}

#main-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #d4d4f2;
  order: 0;
}

#main-heading strong {
  display: block;
  color: #fff;
}

.heading-section p {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  order: 1;
}

#main-heading,
#main-heading strong,
.heading-section p {
  background-color: transparent;
}

.btn-order a {
  margin: 4px;
  text-decoration: none;
  font-size: 1.3rem;
}

.btn-order button a:visited {
  text-decoration: none;
  color: #fff;
}

#icons-form-mobile,
#icons-form-desktop {
  list-style: none;
  order: 2;
  margin-top: 46px;
}

#icons-form-mobile a,
#icons-form-desktop a {
  cursor: pointer;
  padding: 20px;
  background-color: transparent;
}

#icons-div {
  list-style: none;
  order: 2;
}

/*
According to linters this should be placed here
*/
.project-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin: 12px 0;
}

.aboutme-card img {
  width: 35%;
  height: 35%;
  margin-top: 1.2rem;
}

#icons-div a {
  padding: 1rem;
  background-color: transparent;
  cursor: pointer;
}

#icons-div a:link,
#icons-div a:visited {
  color: #fff;
}

/*
Feature 2 Styles Section
*/
#mg-arrow-container {
  justify-content: center;
}

.arrow-btn {
  padding: 8px;
  order: 3;
  cursor: pointer;
}

.arrow-btn:link,
.arrow-btn:visited {
  color: #fff;
}

.works-section {
  display: grid;
  text-align: center;
  row-gap: 24px;
  justify-items: center;
  align-items: center;
  margin: 1.5rem auto 0;
  max-width: 100rem;
}

#cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-auto-rows: 33rem;
  justify-items: center;
  row-gap: 1.75rem;
  width: 90%;
}

.headings-2 {
  font-weight: 700;
  font-size: 2.525rem;
  line-height: 3.5rem;
  color: #172b4d;
  margin: 24px 0;
}

.title-card {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#border-line {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  margin: 24px 0;
}

.work-card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  height: 33rem;
  width: 20.45rem;
}

.work-card-img-container {
  width: 100%;
  height: 50%;
}

.technologies-card {
  flex-wrap: wrap;
  justify-content: center;
}

.card-work-item {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  padding: 8px 12px;
  background-color: #ebf0ee;
  border: 1px solid transparent;
  border-radius: 4px;
  width: fit-content;
  margin: 8px;
  list-style: none;
}

.work-card-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  width: fit-content;
  height: 50%;
  margin: 0 auto;
}

.work-card h3 {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2rem;
  margin: 16px 0;
  color: #3a4a42;
}

.main-button {
  background-color: #172b4d;
  border-color: #172b4d;
  border-radius: 4px;
  border-style: none;
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin: 24px 0;
  color: #fff;
  letter-spacing: 0.03em;
}

.main-button:hover {
  background-color: #2d996c;
}

.main-button:active {
  background-color: #008552;
}

#about-me-article {
  display: grid;
  text-align: center;
  row-gap: 24px;
  justify-items: center;
  align-items: center;
  background-image: url('../images/portafolio-aboutme-mb-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1.75rem auto 0;
  padding: 2.32rem 0;
}

#about-me-article h2 {
  color: #fff;
}

.about-btn {
  background-color: #37537d;
}

.aboutme-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-auto-rows: 26rem;
  justify-items: center;
  align-items: center;
  width: 80%;
}

/*
According to linters this should be placed here
*/
.mobile-pop p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px;
  text-align: left;
}

#about-me-article p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
  margin: 24px;
}

.aboutme-card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  box-sizing: border-box;
  height: 24rem;
  width: 20.5rem;
}

.aboutme-card h4 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #344563;
  margin: 1rem 0;
}

.aboutme-card ul {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card-list-item {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #36b37e;
  padding: 12px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  width: fit-content;
  margin: 8px;
  list-style: none;
}

/*
Feature 3 Styles
*/
#form-section {
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: url('../images/form-background.png');
  background-repeat: no-repeat;
  background-position: top 6.92rem right;
  padding: 64px 24px 0;
}

#form-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: #172b4d;
  order: 0;
  margin: 18px 0;
}

#main-form {
  flex-direction: column;
  order: 1;
  gap: 24px;
  align-items: center;
  margin-top: 58px;
}

#main-form input {
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  width: 327px;
  height: 48px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  padding: 15px 16px;
}

#main-form textarea {
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  width: 327px;
  height: 114px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  padding: 15px 16px;
}

#status-message {
  width: 327px;
  border: 1px solid #f33;
  border-radius: 4px;
  background-color: #ff8585;
  color: #091e42;
  padding: 1.3rem 0;
}

#form-btn {
  width: fit-content;
}

#icons-form-mobile a:link,
#icons-form-mobile a:visited,
#icons-form-desktop a:link,
#icons-form-desktop a:visited {
  color: black;
}

footer {
  text-align: center;
}

#contact-me-email {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

/*
Desktop hidden stuff
*/
#desktop-header {
  display: none;
}

#icons-form-desktop {
  display: none;
}

#desktop-hr {
  display: none;
}

/*
Pop Up windows Styles
*/
.bg-container {
  position: fixed;
  padding: 20px 16px 26px;
  height: 100%;
  background: #c1c7d0;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  overflow: scroll;
}

.mobile-pop {
  flex-direction: column;
  text-align: center;
  border-radius: 8px;
  align-items: center;
  background-color: #fff;
}

.mobile-pop h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin: 16px 0;
  color: #172b4d;
}

.info-container {
  display: grid;
}

#project-d {
  font-size: 1.25rem;
}

.btn-order {
  margin-bottom: 16px;
  justify-self: center;
}

#project-pop.show {
  pointer-events: auto;
  opacity: 1;
}
